fingerprintScanningEnabled: 
matchingServiceEnabled: 
matchingThreshold:
scanningThreshold: 
matchingSpeed: 
templateSize: 
templateFormat: 

sqliteDatabasePath: 
licenseFilePath: 

server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:file:./db/secugen-backup.db
    username: 
    password: 
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
