# Device/Scanner
templateSize: "LARGE"
templateFormat: "SG400"
deviceName: 6 # 6 here means Hamster U20 fp scanner. Get your own device name from its manual
impressionType: 0 # 0 here means Live-scan plain. Update this based on your device's codes

# Scanning
fingerprintScanningEnabled: "true"
scansRegistrationCount: 3
scansSearchCount: 2
scanningThreshold: 80
scanTimeoutMs: 15000
scanSessionTimeoutMs: 600000

# Matching
matchingServiceEnabled: "true"
matchingThreshold: 8000
matchingSpeed: "LOW"

# Fingerprint DB
sqliteDatabasePath: "db/secugen.db"
licenseFilePath: "config/license.dat"

# Spring, H2, Caffeine
server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:file:./db/secugen-backup.db
    username: admin
    password: Admin123
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m
