# Device/Scanner
templateSize: "LARGE"
templateFormat: "SG400"
deviceName: 6 # 6 here means Hamster U20 fp scanner. Get your device name from the device manual

# Scanning
fingerprintScanningEnabled: "true"
scanConfirmationCount: 3
scanningThreshold: 80
scanTimeoutMs: 15000

# Matching
matchingServiceEnabled: "true"
matchingThreshold: 8000
matchingSpeed: "LOW"

# Fingerprint DB
sqliteDatabasePath: "db/secugen.db"
licenseFilePath: "config/license.dat"

# Spring & H2
server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:file:./db/secugen-backup.db
    username: admin
    password: Admin123
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
